button{
  outline: none;
  border: 0;
  cursor: pointer;
}
.habit{
  font-size: 2rem;
  padding: 0.5em;
  list-style: none;
}
.habit-count{
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background: rgb(211, 211, 211);
}
.habit-button{
  font-size: 2rem;
  margin: 0 0.1em;
  background: transparent;
  
}
.habit-button:hover{
  opacity: 0.8;
}
.habit-increase,
.habit-decrease{
  color: goldenrod;
}
.habit-delete{
  color: darkred;
}